
html, body { /*Browser reset*/
    margin:0;
    padding:0;    
    background-color: #eff6ff;
    font-family: 'Roboto', sans-serif;
}
    
.container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}



/*Left navigation bar and logo*/
.navigation-bar{
    grid-row: 1 / 4;
    color: white;
    padding-right: 50px;
    min-height: 100vh;
}
.logo {
    font-size: 24px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo > *{
    margin-right: 5px;
}
.main-options, .settings{
    align-items: left;
    display: grid;
    gap: 20px;
    font-size: 20px;
}
.main-options li, .settings li{
    margin-bottom: 12px;
    display: flex;
    align-items: center;
}
ul{
    list-style: none;
}
.main-options svg, .settings svg{
    margin-right: 6px;
}


/*Both top and bottom header*/
.header-container{
    grid-column:2/4;
    background-color: white;
    padding: 10px 24px 12px 24px;
}
/*Header top portion*/
.header-top{
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: center;
}
.header-top > *{
    display: flex;
    align-items: center;
}
.search-bar textarea{
    background-color: #eff6ff;
    outline: none;
    border: 1px solid black;
    resize: none;
    width: 70%;
    min-width: 250px;
    margin-left: 8px;
    padding-left: 10px;
    padding-top: 4px;
    border-radius: 10px;
    height: 20px;
    font-size: 16px;
}
.top-right{
    display: flex;
}
.top-right > *{
    margin-left: 10px;
}

/*Header bottom portion*/
.header-bottom{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.header-bottom > * {
    display: flex;
}
.big-profile{
    align-items: center;
}
.big-profile svg{ /*Avatar bottom-left*/
    display: block;
    margin-right: 8px;
}
.username div:nth-child(1){
    font-size: 12px;
}
/*Action buttons bottom-left of header*/
.action-buttons{
    display: flex;
    justify-content: right;
    align-items: end;
    gap: 6%;
}
.action-buttons button{
    border: none;
    border-radius: 14px;
    color: white;
    padding: 6px 12px 6px 12px;
    font-size: 14px;
}

/*Projects grid*/
.grid-title-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#add-project-button{
    background-color: #0ea5e9;
    color: white;
}
#add-project-button:hover{
    background-color: darkorange;
}
.projects-grid-area p{
    margin-left: 10px;
}
.projects-grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.project-cell{
    background-color: white;
    display: grid;
    grid-template-rows: 3fr 1fr;
    padding: 6px 10px 0 10px;
    margin: 0px 8px 8px 8px;
    border-left: orange 6px solid;
    border-radius: 6px;
}
.project-title{
    margin-bottom:10px;
    font-weight: 700;  
    font-size: 18px;
}
.project-description{
    font-size: 16px;
    overflow-wrap: anywhere;
}
.bottom-cell{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}
.mini-buttons{
    margin-right: 24px;
    margin-bottom: 12px;
}



/*Right side content announcements*/
.announcements-container{
    background-color: white;
    border-radius: 8px;
    margin-right: 8px;
    padding: 24px;
    display: grid;
    gap: 12px;
}
.announcements-title{
    margin-left: 6px;
}
.news{
    border-bottom: 1px solid gray;
}
.announcements-container .news:nth-child(3){
    margin-bottom: -12px; /*Reset bottom margin*/
    border-bottom: none;
}
.news p{
    margin: 0;
}
.news p:nth-child(1){
    font-weight: 1000;
    font-size: 14px;
}
.news p:nth-child(2){
    font-size: 10px;
    margin-bottom:12px;
}


/*Right side contents trending accounts bar*/
.trending-accounts-container{
    grid-column: 3/4;
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: white;
    padding: 24px;
    border-radius: 8px;
    margin-right: 8px;
}
.trending-avatar, .trending-name{
    margin-bottom: 10px;
}
.trending-avatar-container{
    display: grid;
    font-size: 24px;
    padding-top: 4px;
    text-align: center;
    margin-right: 8px;
}
.trending-name p{
    margin:0;
}
.trending-name p:nth-child(2){
    font-size: 10px;
}


/*New project pop-up*/
.new-project-container{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px 10px 20px 10px;
    margin: 0px 8px 8px 8px;
    border-left: orange 6px solid;
    border-radius: 6px;
    gap: 16px;
}
.new-project-text-container{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.new-project-text-container textarea{
    font-size: 16px;
    font-family: 'Roboto';
    outline-color: #0ea5e9;
    border: 1px solid black;
    border-radius: 8px;
    resize: none;
    padding-left: 4px;
}
.new-project-button-container{
    display: flex;
    align-items: center;
}





/*Common styling*/
.project-cell, .announcements-container, .trending-accounts-container, .header-container, .new-project-container{
    box-shadow: 2px 4px 5px #a1a1aa;
}
.navigation-bar, .action-buttons button{
    background-color: #0ea5e9;
}